@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&display=swap');

:root {
    --background-color: #F2EFE7;
    --biggest-bar-color: #ff8748;
    --big-bar-color: #FE9C59;
    --highlighter-color: #b8e0ff;
    --card-color: #fbfbf9;
    --font-color: #202329;

}

*{
  padding: 0;
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  color: var(--font-color);
  background-color: var(--background-color);
}

.burger-button{
  color: var(--font-color);
  width: 40px;
  height: 40px;
  text-align: center;
  margin-top: 15px;
  display: none;
  position: fixed;
  z-index: 4;
}

.info-button{
  color: var(--font-color);
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 15px;
  margin-bottom: 25px;
  z-index: 4;
}

header{
  width: 100%;
}

.header-main{
  height: 120px;
  background-color: var(--biggest-bar-color);
  display: flex;
  justify-content: space-between;
}

.header-logo-container{
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.header-logo{
  width: 100%;
}

.header-menu-container{
  display: flex;
  align-items: center;
}

.menu-item{
  width: 50%;
  list-style: none;
  margin-right: 50px;
  padding: 10px;
  font-size: 18px;
}

.menu-item:hover{
  cursor: pointer;
  font-weight: bold;
}

.filter-bar{
  height: 80px;
  background-color: var(--big-bar-color);
  padding: 0 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: static;
}

.filter-input{
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: var(--background-color);
  border: none;
  height: 40px;
  width: 20%;
  font-size: 18px;
  outline: none;
  padding-left: 1%;  
}

main{
  display: flex;
}

.info-bar{
  background-color: var(--big-bar-color);
  height: 100px;
  width: 100px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  right: 0;
  bottom: 0;
  position: fixed;
  border-radius: 50px 0 0 0;
}

.info-bar ul li{
  list-style: none;
  font-size: 15px;
  display: flex;
}

.info-bar ul li h3{
  font-size: 14px;
}

.info-bar ul li span::before{
  font-size: 20px;
}

.main-pokemon-container{
  margin: 30px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pokemon-item{
  background-color: var(--card-color);
  height: 250px;
  width: 200px;
  margin: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-shadow: 10px 10px 9px -2px rgba(27,27,38,0.4);
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center;
}

.pokemon-item:hover ~ .pokemon-item{
  transform: translateY(100px);
}

.main-pokemon-container:hover .pokemon-item{
  opacity: 0.5;
}

.main-pokemon-container:hover .pokemon-item:hover{
  transform: scale(1.3);
  opacity: 1;
}

.card-container{
  text-decoration: none;
  color: var(--font-color);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container img{
  width: 150px;
}

.details-container{
  width: 200px;
  padding: 0 10px 10px;
  background-color: var(--card-color);
  display: none;
}

.details-container.is-open{
  display: block;
}

.details-container h2{
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: normal;
  text-align: initial;
}

.details-items{
  font-weight: normal;
  font-size: 14px;
  margin-top: 5px;
}

.icons-details{
  margin-right: 15px;
}

footer{
  width: 100%;
  height: 80px;
  background-color: var(--big-bar-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p{
  font-weight: bold;
}